input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.bmi{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	width: 50%;
	margin: 0 auto;
}

.parent-div{
	 background-color:white;
}

.courses{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	width: 50%;
	margin: 0 auto;
}

#renderButton{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div.recipe_box {
	height: 460px;
	width: 850px;
	border: 2px solid #434343;
	border-radius: 8px;
}
div.recipe_box1 {
	height: 455px;
	width: 845px;
	background-image: url(../images/board1.png);
	overflow-y: auto;
	overflow-x: hidden;
}

#Cook {
	height: 25px;
	width: 20px;
	margin-right: 5px;
}

#Cook1 {
    height: 20px;
    width: 30px;
	margin-right: 5px;
}

.listing {
    text-align: center;
    height: 20px;
    font-size: 6px;
}

#myTable {
    border-collapse: collapse;
    width: 800px;
    border: 1px solid #ddd;
    font-size: 18px;
    background: rgba(255, 146, 84, 0.5);
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header {
    background-color: #434343;
    color: white;
}

#myTable1 tr:hover {
	  background-color: #FF9254;
}

#photo {
    width: 200px;
    height: 120px;
}

.child_div_1{
    margin: 0px 5px 0px 5px;
}

.child_div_2{
    margin: 0px 5px 0px 5px;
}