<div class="container-fluid" id="bottomTop">
    <div class="container">
        <div class="col-md-3">
            <ul id="contactList">
                <li><strong>CONTACT US</strong></li>
                <br/>
                <li><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;39 Artillery Avenue, Sentosa<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Singapore 099958</li>
                <br/>
                <li><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+65 6823 9999</li>
                </br>
                <li><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;+65 6448 9999</li>
                <br/>
                <li><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a id="bottomEmail" href="mailto:contactus@iDiet.com.sg">contactus@iDiet.com.sg</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul id="siteList">
                <li><strong>SITEMAP</strong></li>
                <br/>
                <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="/recipe">Recipe</a></li>
                <br/>
                <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="/health">My Health</a></li>
                <br/>
                <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="/fun">Fun</a></li>
                <br/>
                <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="/community/announcements">Announcements</a></li>
                <br/>
                <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="/community/forums">Forums</a></li>
                <br/>
                <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="/community/support">Support</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul id="policiesList">
                <li><strong>POLICIES</strong></li>
                <br/>
                <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="/terms&conditions">Terms & Conditions</a></li>
                <br/>
                <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="/privacy">Privacy</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul id="sponsorsList">
                <li><strong>SPONSORS</strong></li>
                <br/>
                <li><img id="sponsors" src="{{ url_for("static", filename="images/sponsors.png") }}"></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid" id="bottomBot">
    <div class="container">
        <div class="col-md-6">
            <ul id="socialList">
                <li><strong>Follow Us On</strong></li>
                <li><a target="_blank" href="https://www.facebook.com/">Facebook</a></li>
                <li><a target="_blank" href="https://www.instagram.com/?hl=en">Instragram</a></li>
                <li><a target="_blank" href="https://twitter.com/?lang=en">Twitter</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <p id="copyright">Copyright © 2017 iDiet.com.sg. All rights reserved.</p>
        </div>
    </div>
</div>