<!DOCTYPE html>
<html lang="en">
    <head>
        <title>iDiet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" href="{{ url_for("static", filename="images/Board.png") }}">
        <link href="{{ url_for("static", filename="css/footer.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="css/navbar.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename="css/skeleton.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename="css/fun.css") }}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-inverse" id="header" data-spy="affix" data-offset-top="1"><!--TOP-->
            <div class="navbar-header" id="topLeft">
                <a href="/">
                    <img id="logo" src="{{ url_for("static", filename="images/Logo Reverse.png") }}">
                </a>
                <button id="collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topRight">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="collapse navbar-collapse navbar-right" id="topRight">
                <ul class="nav navbar-nav" id="navList">
                    <li><a href="/">Home</a></li>
                    <li><a href="/recipe">Recipe</a></li>
                    <li><a href="/health">My Health</a></li>
                    <li class="active1"><a href="/fun">Fun</a></li>
                    <li><a href="/community">Community</a></li>
                </ul>
                <a type="button" class="btn btn-default" id="loginButton" href="/login">Sign In</a>
            </div>
        </nav>

        <div id="funTop"><!--BODY-->
			<img id="funTopImage" src="{{ url_for("static", filename="images/funbackground.jpg") }}">
			<div id="funTopTextBox">
				<p id="funTopText">Fun</p>
			</div>
		</div>
		<div id="mainBox">
			<div id="mainFun1">
                Fun facts slide show
			</div>
			<div id="mainFun2">
				Game maybe
			</div>
			<div id="mainFun3">
                <a type="button" class="btn btn-default" id="challengeButton" data-toggle="modal" data-target="#challengeModal">Challenge 1
                <img class="achievements" id="OutsideAchieve1" src="static/images/Achievement1.png"></a>
                <a type="button" class="btn btn-default" id="challengeButton2" data-toggle="modal" data-target="#challengeModal">Challenge 2
                <img class="achievements" id="OutsideAchieve2" src="static/images/Achievement2.png"></a>
                <a type="button" class="btn btn-default" id="challengeButton3" data-toggle="modal" data-target="#challengeModal">Challenge 3
                <img class="achievements" id="OutsideAchieve3" src="static/images/Achievement3.png"></a>
				<p id="mainFun3Text">Test your knowledge on basic food recipes and health facts!</p>
			</div>
		</div>

        {% include 'includes/_footer.html' %}

        <!--Modal-->
		<div class="modal fade" id="challengeModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" id="modalTopClose" class="close" data-dismiss="modal">&times;</button>
						<div id="modalTop">
                            <div class="col-md-4">
                                <p id="showScore">No previous records</p>
                            </div>
                            <div class="col-md-4">
                                 <p id="modalTopText1">Challenge&nbsp;<span id="challengeNumber">"number"</span></p>
                            </div>
                            <div class="col-md-3">
                                <img id="achievements" src="">
                            </div>
						</div>
					</div>
					<div class="modal-body">
						<p id="modalBodyText">Question <span id="questionNumber">"number"</span></p>
						<p id="modalBodyQuestion">"JS"</p>
                        <span id="errorMessage"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Please select one of these options.</span>
						<form>
							<div class="radio">
								<label><input type="radio" id="A" name="opt" /><span id="C1">"JS"</span></label>
							</div>
							<div class="radio">
								<label><input type="radio" id="B" name="opt" /><span id="C2">"JS"</span></label>
							</div>
							<div class="radio">
								<label><input type="radio" id="C" name="opt" /><span id="C3">"JS"</span></label>
							</div>
							<div class="radio">
								<label><input type="radio" id="D" name="opt" /><span id="C4">"JS"</span></label>
							</div>
                            <button id="modalBodyNext" type="button" onclick="hi()" class="btn">Next Question</button>
						</form>
					</div>
					<div class="modal-footer">
						<div class="progress">
							<div id="modalProgress" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
								<span id="modalProgressNo">0</span>%
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div id="containerCon" class="container-fluid">
            <div id="UnlockAlertBox">
                <div class="col-xs-3">
                    <img id="AlertAchievement" src="static/images/unAchievement3.png">
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <p id="AlertUnlock">ACHIEVEMENT UNLOCK</p>
                    </div>
                    <div class="row">
                        <span id="AlertText">ERROR.EXE</span>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/fun.js"></script>
        <script>
            setCha1_2_3({{ cha1 }}, {{ cha2 }}, {{ cha3 }})
        </script>

    </body>
</html>