<!DOCTYPE html>
<html>
	<head>
		<title>iDiet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" href="/static/images/Board.png">
        <link href="{{ url_for("static", filename="css/footer.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="css/navbar.css") }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
	</head>
	<body>

		<nav class="navbar navbar-inverse" id="header" data-spy="affix" data-offset-top="1"><!--TOP-->
            <div class="navbar-header" id="topLeft">
                <a href="/">
                    <img id="logo" src="{{ url_for("static", filename="images/Logo Reverse.png") }}">
                </a>
                <button id="collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topRight">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="collapse navbar-collapse navbar-right" id="topRight">
                <ul class="nav navbar-nav" id="navList">
                    <li class="active1"><a href="/">Home</a></li>
                    <li><a href="/recipe">Recipe</a></li>
                    <li><a href="/health">My Health</a></li>
                    <li><a href="/fun">Fun</a></li>
                    <li><a href="/community">Community</a></li>
                </ul>
                {% if user != null %}
                    <div id="usernameBox" class="dropdown-toggle" data-toggle="dropdown">
                        <img id="displayPic" src={{ user["displaypicture"] }}>
                    </div>
                    <ul id="profileDropdown" class="dropdown-menu">
                        <li class="disabled"><a id="dropdownUsernameLink">Hi, <span>{{ user["firstname"] }}</span></a></li>
                        <li class="divider"></li>
                        <li><a class="dropdownLink" href="/profile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Profile</a></li>
                        <li><a class="dropdownLink" href="/login"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Sign out</a></li>
                    </ul>
                {% else %}
                    <a type="button" class="btn btn-default" id="loginButton" href="/login">Sign In</a>
                {% endif %}
            </div>
        </nav>

        <br>
        <br>
        <br>
        <br>
        <div class="form-group">
            <label for="header">Header: </label>
            <input type="text" class="form-control" id="header">
        </div>
        <div>
            <label for="content">Content: </label>
            <textarea class="form-control" rows="10"></textarea>
        </div>

		{% include 'includes/_footer.html' %}
	</body>
</html>