<!DOCTYPE html>
<html>
	<head>
		<title>iDiet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" href="{{ url_for("static", filename="images/Board.png") }}">
		<link href="{{ url_for("static", filename="css/footer.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="css/navbar.css") }}" rel="stylesheet">
		<link href="{{ url_for("static", filename="css/skeleton.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="css/policies.css") }}" rel="stylesheet">
	</head>
	<body>

		<nav class="navbar navbar-inverse" id="header" data-spy="affix" data-offset-top="1"><!--TOP-->
            <div class="navbar-header" id="topLeft">
                <a href="/">
                    <img id="logo" src="{{ url_for("static", filename="images/Logo Reverse.png") }}">
                </a>
                <button id="collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topRight">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="collapse navbar-collapse navbar-right" id="topRight">
                <ul class="nav navbar-nav" id="navList">
                    <li class="active1"><a href="/">Home</a></li>
                    <li><a href="/recipe">Recipe</a></li>
                    <li><a href="/health">My Health</a></li>
                    <li><a href="/fun">Fun</a></li>
                    <li><a href="/community">Community</a></li>
                </ul>
                <a type="button" class="btn btn-default" id="loginButton" href="/login">Sign In</a>
            </div>
        </nav>
		
		<div id="policiesTop"><!--BODY-->
			<img id="policiesTopImage" src="{{ url_for("static", filename="images/policies.jpg") }}">
			<div id="policiesTopTextBox">
				<p id="policiesTopText">Terms & Conditions</p>
			</div>
		</div>
		<div id="policiesBack">
			<div class="container">
				<div id="breadcrumb">
					<a href="/" id="breadcrumbHome">Home</a>&nbsp;<span class="glyphicon glyphicon-menu-right"></span>&nbsp;<span id="breadcrumbHere">Terms & Conditions</span>
				</div>
				<br/>
				<p id="policiesTitle">Terms & Conditions</p>
				<hr/>
				<div id="policiesText">
					<p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms 
					and conditions of use, which together with our privacy policy govern All About Food relationship with you in relation to this website. 
					If you disagree with any part of these terms and conditions, please do not use our website.</p>
					<br/>
					<p>The term ‘iDiet' or ‘us’ or ‘we’ refers to the owner of the website whose address is iDiet. 
					The term ‘you’ refers to the user or viewer of our website.</p>
					<br/>
					<p>The use of this website is subject to the following terms of use:</p>
					<ul>
						<li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
						<li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, 
						completeness or suitability of the information and materials found or offered on this website for any particular purpose. 
						You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability 
						for any such inaccuracies or errors to the fullest extent permitted by law.</li>
						<li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. 
						It shall be your own responsibility to ensure that any products, services or information available through this website meet your 
						specific requirements.</li>
						<li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, 
						layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, 
						which forms part of these terms and conditions.</li>
						<li>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
						<li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
						<li>From time to time, this website may also include links to other websites. 
						These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). 
						We have no responsibility for the content of the linked website(s).</li>
						<li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of Singapore.</li>
					</ul>
				</div>
			</div>
		</div>

		{% include 'includes/_footer.html' %}

	</body>
</html>